<style>
  body {
    font-family: Roboto, Arial, sans-serif;
  }
</style>
<body></body>
<script>
  function refresh() {
    const date = new Date()
    const offset = date.getTimezoneOffset() * 60000
    const local = new Date(date - offset)

    const t = local.toISOString().slice(11, 16)
    document.body.textContent = local.toISOString().slice(0, 10) + " " + t
    document.title = t
  }

  function refreshLoop() {
    refresh()
    requestAnimationFrame(refreshLoop)
  }
  requestAnimationFrame(refreshLoop)

  setInterval(refresh, 200)
</script>
